/*--цвет заголовков #212121 */
/*--цвет текста #757575 */
/*--белый цвет #FFFFFF */
/*-- цвет акцента #2196F3 */
/*-- прозрачный белый футер rgba(255, 255, 255, 0.6) */
/* -- черный цвет #000000 */
/* фон герой, футер #2F303A */
/* доп.фон #F5F4FA */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logoend-color-header: #000000;
  --logoend-color-footer: #ffffff;
  --background-main-color: #ffffff;
  --background-second-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Page-header */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logoend-header {
  color: var(--logoend-color-header);
}

/* Site-nav */

.nav-list {
  display: flex;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list > .item:not(:last-child) {
  margin-right: 50px;
}

.contact-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--background-dark-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Features */

.features {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Activities */

.section.activities {
  padding-top: 0;
}

.activities-list {
  display: flex;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-img {
  display: block;
}

/* Team */

.team {
  background-color: var(--background-second-color);
}

.team-list {
  display: flex;
}

.team-item {
  padding-bottom: 30px;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-photo {
  display: block;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Button */

.button {
  display: inline-block;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--background-second-color);
  text-decoration: none;
  font-family: inherit;
}

.button.secondary {
  min-width: 200px;
  padding: 10px 32px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  /* display: flex;
  align-items: center;
   */
}

.secondary:hover,
.secondary:focus {
  background-color: #188ce8;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.logoend-footer {
  color: var(--logoend-color-footer);
}

.address {
  margin-top: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list {
  margin-top: 20px;
}

.address-list .address-item {
  margin-top: 0;

  color: var(--secondary-text-color);
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

/* Portfolio */

.filter-list {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 34px;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.button.active {
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.button.primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-card {
  display: block;
}

.project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-name {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-branch {
  font-size: 16px;
  line-height: 1/88;
  letter-spacing: 0.03em;
}
